label {
  font-weight:bold
}

.container {
  position: relative;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: rgb(181, 204, 228);
  font-size: 32px;
  font-weight: bold;
  margin-right: 3px;
}

.banner {
  margin-top: 8px;
  margin-bottom: 8px;
}

article {
  margin-bottom: 20px;
}

:root {
  --spacing: 1px;
}

